@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.limitBox {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;

  ul {
    display: flex;

    li {
      height: 23px;
      padding: 5px 10px;
      border-right: 2px solid #a2a2a2;
      cursor: pointer;

      &:nth-last-child(1) {
        border-right: 0;
      }

      &:hover {
        color: #2ac1bc;
      }
    }
  }
}

.nextItems {
  position: relative;
  padding: 50px 0;

  .w-btn-neon {
    position: relative;
    border: none;
    min-width: 200px;
    min-height: 50px;
    background: $borderColor;
    border-radius: 1000px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-family: "BMDOHYEON";
    transition: 0.3s;
  }

  .w-btn-neon2 {
    position: relative;
    border: none;
    min-width: 200px;
    min-height: 50px;
    background: linear-gradient(
      90deg,
      rgba(129, 230, 217, 1) 0%,
      rgba(79, 209, 197, 1) 100%
    );
    border-radius: 1000px;
    color: white;
    cursor: pointer;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    font-weight: 500;
    font-family: "BMDOHYEON";
    transition: 0.3s;
  }

  .w-btn-neon2:hover {
    transform: scale(1.2);
  }

  .w-btn-neon2:hover::after {
    @include size(30px, 30px);
    content: "";
    border-radius: 100%;
    border: 6px solid #00ffcb;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
}

.indexBtn {
  display: flex;
  margin-top: 30px;

  button {
    @include size(30px, 30px);
    margin-right: 20px;
    border: 1px solid #2ac1bc;
    border-radius: 5px;
    color: #2ac1bc;
    background-color: $background;
    transition: all 0.4s;
  }

  button:last-child {
    margin-right: 0;
  }

  .active {
    color: $background;
    background-color: #2ac1bc;
  }
}

@keyframes ring {
  0% {
    @include size(30px, 30px);
    opacity: 1;
  }

  100% {
    @include size(300px, 300px);
    opacity: 0;
  }
}
