.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;

  .mainTitle {
    width: 100%;
    margin-top: 120px;
    padding-top: 120px;
    border-top: 1px solid #ddd;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
  }

  .limitBox {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;

    select {
      width: 100px;
      height: 30px;
      font-size: 14px;
      border: none;

      option:checked {
        background-color: #2ac1bc;
      }
    }
  }

  .itemList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .item:nth-child(4n) {
      margin-right: 0;
    }
  }

  .indexBtn {
    display: flex;
    margin-top: 30px;

    button {
      width: 30px;
      height: 30px;
      margin-right: 20px;
      border: 1px solid #2ac1bc;
      border-radius: 5px;
      color: #2ac1bc;
      background-color: #fff;
      transition: all 0.4s;
    }

    button:last-child {
      margin-right: 0;
    }

    .active {
      color: white;
      background-color: #2ac1bc;
    }
  }
}
