@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.cartPayment {
  position: relative;
  top: 27px;
  width: 400px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);

  .paymentResult {
    .productPrice {
      @include commonDisplayAttributes(flex, space-between, null);
      margin-bottom: 15px;

      span {
        margin: 5px 0;
      }
    }

    .deliveryPrice {
      @include commonDisplayAttributes(flex, space-between, null);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding-bottom: 10px;
      margin-bottom: 15px;
    }

    .totalPrice {
      @include commonDisplayAttributes(flex, space-between);

      span {
        color: $commonColor;
        margin: 15px 0;
      }
    }

    .textBox {
      @include commonDisplayAttributes(flex, flex-end, null);
      height: 16px;
      margin-top: 10px;
      margin-bottom: 30px;
      color: $commonColor;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .orderBtn {
    button {
      width: 100%;
      height: 60px;
      border-radius: 6px;
      border: none;
      font-size: 18px;
      color: white;
      background-color: $commonColor;
      opacity: 0.9;
      cursor: pointer;

      &:active {
        transform: scale(0.9);
      }
    }
  }
}
