@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.Main {
  @include commonDisplayAttributes(flex, null, center);
  flex-direction: column;
  width: 100%;
}

.itemContainer {
  @include commonDisplayAttributes(flex, null, center);
  flex-direction: column;
  width: 1200px;

  img {
    padding-top: 50px;
  }

  .mainTitle {
    width: 100%;
    margin-top: 120px;
    padding-top: 120px;
    border-top: 1px solid #ddd;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
  }
  .itemList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .items:nth-child(4n) {
    margin-right: 0;
  }
}
