.category {
  width: 100%;
  padding: 90px;
  padding-bottom: 0;

  .categoryContainer {
    width: 1300px;
    padding: 80px 30px 0px;
    margin: 0 auto;

    .categoryHeader {
      h1 {
        display: flex;
        align-content: flex-start;
        font-size: 60px;
        font-weight: 400;

        p {
          margin-left: 10px;
          font-size: 12px;
          font-weight: 700;
        }
      }
    }

    .categoryInfo {
      p {
        margin-top: 30px;
        font-size: 16px;
        line-height: 29px;
      }
    }
  }
}
.itemContainer {
  margin: 0 auto;
}
