@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.cartContainer {
  @include commonDisplayAttributes(flex, null, center);
  width: 100%;
  min-width: 1200px;
  flex-direction: column;
  padding: 200px 0;

  .cartTitle {
    font-size: 50px;
    margin-bottom: 5%;
    color: $commonColor;
    font-weight: 600;
  }

  .cartWrapper {
    @include commonDisplayAttributes(flex, space-between, null);
    width: 80%;

    .cartContent {
      width: 100%;
      min-width: 700px;
      margin-right: 100px;

      .cartContentHeader {
        @include commonDisplayAttributes(flex, space-between);
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        p {
          display: inline-block;
          margin-left: 5px;
          color: #41454a;
          font-size: 15px;
        }
      }
    }
  }
}
