.OrderedItemUl {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  overflow: scroll;

  .orderedListLi {
    display: flex;
    align-items: center;
    width: 100%;

    .orderImgBox {
      flex: 1;
      position: relative;

      &:hover .orderHoverImg {
        opacity: 0;
        transition: opacity 0.3s ease-out;
        cursor: pointer;
      }
      .orderProductImg {
        width: 100px;
        height: 100px;
        margin-right: 30px;
      }

      .orderHoverImg {
        position: absolute;
        left: 0;
        z-index: 1;
        transition: opacity 0.3s ease-in;
        width: 100px;
        height: 100px;
        margin-right: 30px;
      }
    }

    .orderedListProductText {
      flex: 4;
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
    }
  }

  .orderedCount {
    flex: 1;
    width: 30px;
    font-weight: 500;
    text-align: center;
  }

  .orderedSumPrice {
    flex: 1;
    width: 20%;
    font-weight: 900;
    text-align: center;
  }

  .orderedStatus {
    flex: 1;
    width: 100%;
    color: #2ac1bc;
    text-align: center;
  }
}
