@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.OrderedItemUl {
  @include commonDisplayAttributes(flex, null, center);
  width: 100%;
  flex-direction: column;
  margin-left: 50px;
  overflow: scroll;

  .orderedListLi {
    @include commonDisplayAttributes(flex, null, center);
    width: 100%;

    .orderedProductBox {
      width: 100%;
      display: flex;

      .orderImgBox {
        position: relative;

        &:hover .orderHoverImg {
          opacity: 0;
          transition: opacity 0.3s ease-out;
          cursor: pointer;
        }

        .orderProductImg {
          @include size(100px, 100px);
          margin-right: 30px;
        }

        .orderHoverImg {
          @include size(100px, 100px);
          position: absolute;
          left: 0;
          z-index: 1;
          transition: opacity 0.3s ease-in;
          margin-right: 30px;
        }
      }

      .orderedListProductText {
        @include commonDisplayAttributes(flex, null, center);
        width: 100%;
        font-size: 18px;
        font-weight: 500;
      }
    }

    .orderedCount {
      margin-right: 50px;
      font-weight: 500;
    }

    .orderedSumPrice {
      @include commonDisplayAttributes(flex, null, center);
      width: 20%;
      margin-right: 30px;
      font-weight: 900;
    }

    .orderedStatus {
      @include commonDisplayAttributes(flex, null, center);
      width: 100%;
      margin-right: 10px;
      color: #2ac1bc;
    }
  }
}
