@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.gsb {
  @include size(380px, 100%);
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  padding-top: 60px;
  background-color: $background;
  overflow: hidden;
  transition: right 0.4s ease 0s;
  z-index: 100;

  &Hidden {
    @extend .gsb;
    right: -380px;
  }

  .gsbHeader {
    padding: 0px 40px 60px;

    h2 {
      width: 260px;
      line-height: 42px;
      color: #41454a;
      font-size: 35px;
      font-weight: 500;
      letter-spacing: -1px;
      font-family: "BMJUA";
    }
  }

  .gsbNavCategory {
    height: 100%;
    padding: 0px 40px 40px;
    overflow-y: auto;

    .gsbNavBtn {
      transition: all 0.5s;
    }

    .gsbNavBtn:hover {
      transition: all 0.5s;
      color: $commonColor;
    }

    i {
      position: absolute;
      top: 30px;
      right: 40px;
      cursor: pointer;
    }

    h2 {
      color: #999999;
      font-family: "BMJUA";
    }

    li {
      padding-top: 14px;
      font-size: 55px;
      font-weight: 500;
      cursor: pointer;
      font-family: "BMDOHYEON";

      &:hover {
        color: $commonColor;
        transition: 0.4s ease 0s;
      }
    }
  }

  .gsbFooter {
    @include commonDisplayAttributes(flex, null, center);
    padding: 27px 40px;

    .footerContainer {
      @include commonDisplayAttributes(flex, center, center);

      i {
        transform: translateY(-5px);
      }

      ul {
        display: flex;
        line-height: 19px;
        font-size: 16px;
        font-weight: 700;

        li {
          display: flex;

          &:nth-last-child(1)::before {
            @include size(1px, 16px);
            display: block;
            margin: 0px 10px;
            background-color: rgb(221, 221, 221);
            content: "";
          }

          span {
            padding: 0 20px;
            font-family: "BMDOHYEON";
          }
        }
      }
    }
  }
}
.sideScreen {
  @include size(100%, 100%);
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.4s ease 0.2s;
  opacity: 0;
}
.sideScreenHide {
  @extend .sideScreen;
  z-index: 1;
  opacity: 1;
}
