@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.goods {
  width: 100%;
  padding: 90px;

  .goodsView {
    width: 1300px;
    margin: 80px auto;
    padding: 40px;
  }

  .goodsInfo {
    @include commonDisplayAttributes(flex, null, center);
    width: 100%;

    .goodsTitle {
      @include commonDisplayAttributes(flex, center, null);
      flex-direction: column;
      flex: 1;

      .goodsName {
        font-size: 30px;
        font-weight: 700;
        word-break: keep-all;
        line-height: 20px;
        white-space: nowrap;
        color: #2ac1bc;
        font-weight: 700;
      }

      .goodsPrice {
        margin-top: 28px;
        font-size: 24px;
        font-weight: 500;
        line-height: 20px;
        font-weight: 500;
      }
    }

    .goodsImage {
      position: relative;
      flex: 2;
      margin: 0 35px;

      img {
        @include size(100%, 500px);
        transition: opacity 0.3s;
      }

      img:first-child {
        position: absolute;
        left: 0;
        top: 0;
      }

      .active {
        opacity: 0;
      }

      .swipePrev,
      .swipeNext {
        @include size(30px, 50px);
        position: absolute;
        background-color: $commonColor;
        top: 50%;
        transform: translateY(-50%);
      }

      .swipePrev {
        left: 10px;
      }

      .swipeNext {
        right: 10px;
      }

      .indexButton {
        @include commonDisplayAttributes(flex, center, null);
        margin-top: 5px;

        span {
          @include size(10px, 10px);
          background-color: $blackColor;
          border-radius: 50%;
          margin-right: 10px;
          text-indent: -1000em;
          overflow: hidden;
          opacity: 0.3;
        }

        span:last-child {
          margin-right: 0;
        }

        .active {
          opacity: 1;
        }
      }
    }

    .goodsOrder {
      @include commonDisplayAttributes(flex, center, null);
      flex-direction: column;
      flex: 1;

      .shippingGuide {
        padding: 20px 0;
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;

        p {
          line-height: 20px;
          color: #999;
        }

        p:first-child {
          color: $blackColor;
          margin-bottom: 10px;
        }
      }

      .orderOption {
        @include commonDisplayAttributes(flex, space-between, center);
        padding: 20px 0;
        border-bottom: 1px solid $borderColor;

        p {
          padding-top: 2px;
        }

        .orderQuantity {
          @include commonDisplayAttributes(flex, space-between, null);
          width: 120px;

          input {
            @include size(50px, 25px);
            border: 1px solid $borderColor;
            border-radius: 3px;
            font-size: 19px;
            text-align: center;
          }

          button {
            width: 25px;
            background-color: $background;
            border: 1px solid $borderColor;
            border-radius: 5px;
            font-size: 20px;
          }
        }
      }
      .orderTotal {
        @include commonDisplayAttributes(flex, space-between, null);
        margin-top: 40px;

        p {
          font-weight: 500;
        }

        p:last-child {
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
        }
      }

      .btnGroup {
        @include commonDisplayAttributes(flex, space-between, null);
        margin-top: 20px;

        .cartButton {
          @include size(50px, 50px);
          color: #ccc;
          background-color: $background;
          border: 1px solid #ccc;
          border-radius: 6px;
          font-size: 20px;
          transition: all 0.3s ease;
        }

        .cartButton:hover {
          border-color: $commonColor;
          color: $commonColor;
        }

        .buyButton {
          flex: 1;
          width: 100%;
          font-size: 16px;
          color: #fff;
          background-color: $commonColor;
          border-radius: 6px;
          margin-left: 10px;
          border: none;
          transition: all 0.3s ease;
        }

        .buyButton:hover {
          color: $commonColor;
          background-color: #fff;
          border: 1px solid $commonColor;
        }
      }
    }
  }

  .goodsTab {
    @include size(1200px, 60px);
    margin: 0 auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    ul {
      @include commonDisplayAttributes(flex, null, center);

      li {
        @include commonDisplayAttributes(flex, center, center);
        height: 60px;
        flex: 1;
        transition: 0.4s;
      }

      li:hover {
        background-color: #ddd;
      }
    }
  }
}
