@mixin inputInSideText {
  position: absolute;
  top: 40%;
  right: 10px;
  font-size: 13px;
  color: #000;
  font-weight: 600;
  background: linear-gradient(
    to top,
    rgba(42, 193, 188, 0.7) 25%,
    transparent 0%
  );
  transform: translateY(-50%);
  display: block;
  content: "필수";
}

@mixin singUpDetailText {
  p {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin sizeLeftorRight($left: null, $right: null, $top: null, $bottom: null) {
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
}

@mixin marginHandler($bottom: null, $top: null, $left: null, $right: null) {
  bottom: $bottom;
  top: $top;
  left: $left;
  right: $right;
}

@mixin commonDisplayAttributes($display, $justify: null, $align: null) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}
