// 현석 시작 !

@mixin inputInSideText {
  position: absolute;
  top: 40%;
  right: 10px;
  font-size: 13px;
  color: #000;
  font-weight: 600;
  background: linear-gradient(
    to top,
    rgba(42, 193, 188, 0.7) 25%,
    transparent 0%
  );
  transform: translateY(-50%);
  display: block;
  content: "필수";
}

@mixin singUpDetailText {
  p {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

// 현석 끝 !

//규성 시작
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin commonDisplayAttributes($display, $justify: null, $align: null) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}
