.cartList {
  .cartListLi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 150px;

    .cartListProductBox {
      flex: 1.3;
      display: flex;
      align-items: center;

      img {
        width: 150px;
      }

      .cartListProductText {
        width: 100%;
        display: flex;
        justify-content: center;

        p {
          font-size: 20px;
          font-weight: 700;
          word-break: keep-all;
        }
      }
    }

    .cartListInfoBox {
      flex: 1;
      display: flex;

      .cartListQuantity {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          padding: 2px 6px;
          border-radius: 6px;
          border: 1px solid #dcdcdc;
          color: #666666;
          background-color: #ffffff;
          font-size: 20px;
          cursor: pointer;
        }

        input {
          width: 50%;
          margin: 0 1px;
          text-align: center;
        }
      }

      .cartListPrice {
        display: flex;
        align-items: center;

        p {
        }
      }
    }

    .cartListDeleteBox {
      button {
        border: none;
        background-color: white;
        cursor: pointer;
      }
    }
  }
}
