@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.cartList {
  .cartListLi {
    @include size(100%, 150px);
    @include commonDisplayAttributes(flex, space-between, center);
    border-bottom: 1px solid #ccc;

    .cartListProductBox {
      @include commonDisplayAttributes(flex, null, center);
      flex: 2;
      cursor: pointer;

      img {
        width: 150px;
      }

      .cartListProductText {
        display: flex;
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        word-break: keep-all;
      }
    }

    .cartListInfoBox {
      flex: 1;
      display: flex;

      .cartListQuantity {
        @include commonDisplayAttributes(flex, center, center);
        margin-right: 30px;

        button {
          @include size(30px, 30px);
          padding: 2px 6px;
          border-radius: 5px;
          border: 1px solid #dcdcdc;
          color: #666666;
          background-color: #ffffff;
          font-size: 20px;
          cursor: pointer;
        }

        input {
          @include size(50px, 30px);
          border: 1px solid #dcdcdc;
          border-radius: 5px;
          margin: 0 5px;
          text-align: center;
        }
      }

      .cartListPrice {
        display: flex;
        align-items: center;

        p {
        }
      }
    }

    .cartListDeleteBtn {
      border: none;
      background-color: white;
      cursor: pointer;
    }
  }
}
