.items {
  display: flex;
  flex-direction: column;
  width: 282px;
  margin: 60px 24px 0 0;
  cursor: pointer;

  .thumbnail {
    position: relative;
    width: 100%;

    img {
      width: 100%;
    }

    img:last-child {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      transition: all 0.3s ease-in;
    }
  }

  .itemInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    p {
      font-weight: 500;
    }

    p:last-child {
      margin-top: 10px;
    }
  }
}

.items:hover {
  img:last-child {
    opacity: 1;
    z-index: 1;
  }

  .itemName,
  .itemPrice {
    color: #2ac1bc;
  }
}
