@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.login {
  @include sizeLeftorRight(50%, null, 50%, null);
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1001;

  .loginContainer {
    @include size(500px, 600px);
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 30px;
    background: $background;

    h1 {
      padding-top: 26px;
      margin-bottom: 40px;
      font-weight: 600;
      font-size: 32px;
      line-height: 42px;
      letter-spacing: 8px;
      text-align: center;
      font-family: "BMDOHYEON";
    }

    .accountContent {
      width: 400px;
      margin: 0 auto;
    }

    .loginForm {
      @include commonDisplayAttributes(flex, null, null);
      flex-direction: column;
      text-align: center;

      input {
        @include size(400px, 62px);
        margin-top: 10px;
        padding: 20px;
        border: 1px solid #b4b4b4;
        border-radius: 7px;
        transition: all 1s;
        outline: none;
        font-family: sans-serif;
      }

      input::placeholder {
        font-family: "BMDOHYEON";
      }

      .inputDisable {
        outline: none;
        border: 1px solid #f1a4a3;
        transition: all 1s;
      }

      .inputAble {
        outline: none;
        border: 1px solid #2ac1bc;
        transition: all 1s;
      }

      p {
        text-align: start;
        padding: 10px;
        color: #f77f7e;
        font-family: "BMJUA";
      }

      & .loginInputText {
        color: #2ac1bc;
      }
    }

    .loginCheckBox {
      margin-top: 20px;
      padding-left: 5px;
      font-family: "BMJUA";
      color: #474747;
    }

    .buttonGroup {
      width: 400px;
      margin: 0 auto;

      .btnLogin {
        @include size(100%, 62px);
        font-family: "BMDOHYEON";
        letter-spacing: 10px;
        margin-top: 50px;
        border-radius: 7px;
        border: none;
        background-color: #eeeeee;
        color: #acadae;
        transition: all 1s;

        &.active {
          background-color: #2ac1bc;
          color: $background;
          transition: all 1s;
          cursor: pointer;
        }
      }
    }
  }

  .loginNav {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;

    li {
      font-family: "BMDOHYEON";
      width: 120px;
      text-align: center;
      color: #acadae;
      cursor: pointer;
      transition: all 0.5s;
      flex: 1;

      &:hover {
        color: #2ac1bc;
        transition: all 0.5s;
      }

      a {
        text-decoration: none;
        color: #acadae;
      }
    }

    li:nth-child(2) {
      border-right: 1px solid #bcbcbc;
      border-left: 1px solid #bcbcbc;
    }
  }
}

.loginScreen {
  @include size(100%, 100%);
  @include sizeLeftorRight(0, 0);
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.4s ease 0.2s;
  opacity: 0;
}

.loginScreenHide {
  @extend .loginScreen;
  z-index: 1000;
  opacity: 1;
}
