.myPageContentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .myPageAllBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    h1 {
      margin-bottom: 100px;
      font-size: 40px;
      font-weight: 700;
    }
    .asideWelcomeBox {
      width: 50%;
      display: flex;
      .asideBar {
        width: 20%;

        h2 {
          margin-top: 35px;
          margin-bottom: 35px;
          font-size: 25px;
          font-weight: bold;
        }
        span {
          text-decoration: none;
          color: black;
          cursor: pointer;
        }
      }
      .showInfo {
        width: 60%;
        display: flex;
        justify-content: center;
        .welcomeBox {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
        span {
          font-size: 40px;
          color: #2ac1bc;
        }
      }
    }
  }
}
