@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.myPageContentBox {
  @include commonDisplayAttributes(flex, center, center);
  height: 90vh;

  .myPageAllBox {
    @include commonDisplayAttributes(flex, null, center);
    flex-direction: column;
    width: 100%;

    h1 {
      margin-bottom: 100px;
      font-size: 40px;
      font-weight: 700;
      color: $commonColor;
    }
    .asideWelcomeBox {
      margin-left: 150px;
      padding: 0 20px;
      width: 80%;
      display: flex;

      .asideBar {
        width: 20%;
        span {
          color: $commonColor;
        }
        h2 {
          margin-top: 35px;
          margin-bottom: 35px;
          font-size: 25px;
          font-weight: bold;
        }
        a {
          text-decoration: none;
          color: #2ac1bc;
          cursor: pointer;
        }
      }
    }
  }
}
