@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.myPageContentBox {
  @include commonDisplayAttributes(flex, center, center);
  padding: 200px 0;

  .myPageAllBox {
    @include commonDisplayAttributes(flex, null, center);
    flex-direction: column;
    width: 100%;

    h1 {
      margin-bottom: 100px;
      font-size: 40px;
      font-weight: 700;
      color: $commonColor;
    }
    .asideWelcomeBox {
      @include commonDisplayAttributes(flex, center, null);
      min-width: 1250px;
      padding: 0 50px;

      .asideBar {
        width: 150px;
        span {
          color: $commonColor;
        }
        h2 {
          margin-top: 35px;
          margin-bottom: 35px;
          font-size: 25px;
          font-weight: bold;
        }
        a {
          text-decoration: none;
          color: $commonColor;
          cursor: pointer;
        }
      }
    }
  }
}
