@mixin popInput {
  width: 450px;
  height: 52px;
  padding: 17px 20px;
  font-size: 14px;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: 0.3s ease border;
}

.inquiryContainer {
  padding: 150px 50px;
  width: 1100px;
  margin: 0 auto;

  header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-bottom: 2px solid #cacaca;

    h1 {
      font-size: 32px;
      font-weight: 700;
      line-height: 42px;
      margin-bottom: 30px;
    }

    .writeInquiry {
      margin-top: 30px;
      cursor: pointer;
      border: none;
      background: none;
      height: 20px;
      font-size: 16px;
      color: #2ac1bc;
      line-height: 19px;
      font-weight: 700;
      text-decoration: none;
      box-shadow: inset 0 -6px 0 rgb(42 193 188 / 30%);
      display: inline-block;
      transition: all 1s;
    }

    .writeInquiry:hover {
      color: rgb(25, 131, 127);
      box-shadow: inset 0 -6px 0 rgba(255, 246, 81, 0.877);
      transition: all 1s;
    }
  }
  .inquiryContent {
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
    margin: 30px 0px;

    .inquiryItem {
      .itemTop {
        display: flex;
        cursor: pointer;
        padding: 20px;
        position: relative;
        background-color: rgb(68, 157, 157);
        color: white;
        transition: all 1s;

        ul {
          display: flex;

          li:nth-child(2) {
            position: absolute;
            right: 7%;
          }
        }

        .itemOnOff {
          position: absolute;
          right: 50px;
          border: none;
          background: none;
          cursor: pointer;
          transition: all 1s;
        }

        .itemDelete {
          position: absolute;
          right: 10px;
          border: none;
          background: none;
          cursor: pointer;
          transition: all 1s;
        }
      }

      .itemTopSelect {
        cursor: pointer;
        position: relative;
        display: flex;
        padding: 15px;
        color: white;
        transition: all 1s;
        background-color: rgb(44, 210, 222);

        ul {
          display: flex;

          li:nth-child(2) {
            position: absolute;
            right: 7%;
          }
        }

        .itemDelete {
          top: 13px;
          position: absolute;
          right: 10px;
          border: none;
          background: none;
          cursor: pointer;
          transition: all 1s;
        }
      }

      .itemDelete i:hover {
        color: white;
        transition: all 1s;
      }

      .itemTop:hover {
        background-color: rgb(44, 210, 222);
        transition: all 1s;
      }

      .itemHide {
        display: block;
        transition: all 1s;
      }

      .itemMain {
        padding: 20px;
      }

      .itemBottom {
        padding: 10px;
        background-color: #eeeeee;
        border: 1px solid rgb(227, 224, 224);

        ul {
          li {
            display: flex;
            padding: 15px;
            background-color: white;
            border-bottom: 5px solid #eeeeee;
            align-items: center;

            .writer {
              flex: 0.6;
            }

            .detail {
              flex: 7;
              word-break: break-all;
              // overflow: hidden;
            }

            .date {
              flex: 0.9;
              font-size: 12px;
              margin-left: 5px;
            }

            .commentAction {
              flex: 0.1;

              button {
                background: none;
                border: none;
                cursor: pointer;
              }

              button:hover {
                background-color: #f45452;
              }
            }
          }
        }
      }

      .commentInput {
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: rgb(0, 0, 0, 0.1);

        input {
          width: 900px;
          height: 30px;

          color: #000;
          border: 1px solid rgb(188, 180, 180);
          border-radius: 6px;
          transition: 0.3s ease border;
          text-align: center;
        }

        input:focus {
          outline: none;
          border: 1px solid #2ac1bc;
        }

        button {
          margin-left: 10px;
          padding: 1px 10px;
        }
      }
    }
  }

  .popBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 200;
    opacity: 0.8;
  }

  .inquiryPop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    z-index: 201;

    h1 {
      font-size: 1.25rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 500;
      line-height: 1.6;
      letter-spacing: 0.0075em;
      text-align: center;
      margin-bottom: 20px;
    }

    .popInput {
      margin: 0 auto;
      text-align: center;

      p {
        margin-bottom: 30px;
        color: #f45452;
        text-align: start;
        margin-left: 12px;
        margin-top: 7px;
        font-size: 12px;
      }

      .checkText {
        color: #2ac1bc;
        text-align: start;
        margin-left: 12px;
        margin-top: 7px;
        font-size: 12px;
      }

      input {
        @include popInput;
      }

      .popInputLong {
        @include popInput;
        height: auto;
      }

      .popInputLong:focus {
        outline: none;
        border: 1px solid #2ac1bc;
      }

      input:focus {
        outline: none;
        border: 1px solid #2ac1bc;
      }

      .popInputBtn {
        margin-top: 20px;
        padding: 10px;
        width: 450px;
        background-color: #eeeeee;
        border-radius: 6px;
        border: none;
        transition: all 1s;
      }

      .popInputBtnOn {
        background-color: #2ac1bc;
        margin-top: 20px;
        padding: 10px;
        width: 450px;
        border-radius: 6px;
        border: none;
        color: white;
        transition: all 1s;
        cursor: pointer;
      }
    }
  }
}
