@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.bannerContainer {
  @include size(100vw, 810px);
  position: relative;
  overflow: hidden;

  .imageWrapper {
    display: flex;
    width: 500vw;

    img {
      @include size(100%, 810px);
      overflow: hidden;
    }
  }

  .indexButton {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    z-index: 1;

    span {
      @include size(10px, 10px);
      margin-left: 12px;
      text-indent: -1000px;
      overflow: hidden;
      background-color: $background;
      border-radius: 50%;
      opacity: 0.2;
      flex: 1;
      cursor: pointer;
    }

    span:first-child {
      margin-left: 0;
    }

    .active {
      opacity: 1;
    }
  }

  .fa-arrow-left-long,
  .fa-arrow-right-long {
    @include size(30px, 100px);
    position: absolute;
    top: 50%;
    color: #fafaf9;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover {
      color: #616161;
    }
  }

  .fa-arrow-left-long {
    left: 50px;
  }

  .fa-arrow-right-long {
    right: 50px;
  }
}
