@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.footer {
  @include commonDisplayAttributes(flex, space-evenly, center);
  @include size(100%, 300px);
  background-color: #fafafa;

  .logoImage {
    img {
      @include size(260px, 60px);
    }
  }

  .footerInfo {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin-top: 14px;
    color: rgb(153, 153, 153);

    p {
      display: inline-block;
      margin-top: 12px;
      font-size: 13px;
      line-height: 16px;
    }

    p::after {
      @include size(1px, 10px);
      display: inline-block;
      margin: 0px 12px;
      background-color: rgb(204, 204, 204);
      content: "";
    }
  }
}
