@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.signUp {
  @include commonDisplayAttributes(flex, center, center);
  position: relative;
  top: 100px;
  flex-direction: column;
  margin-bottom: 150px;

  .signUpTitle {
    @include marginHandler(30px, 30px, null null);
    font-family: "BMDOHYEON";
    padding: 10px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
  }

  .accountContent {
    @include commonDisplayAttributes(flex, null, center);
    flex-direction: column;
    width: 35%;
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    .accountTitleProcess {
      @include commonDisplayAttributes(flex, space-between, center);
      width: 100%;
      margin-bottom: 20px;

      h3 {
        font-size: 20px;
        font-weight: 710;
      }

      .processBox {
        @include commonDisplayAttributes(flex, center, null);
        margin-top: 10px;

        .processUnderBar {
          opacity: 0.1;
        }

        .process {
          @include commonDisplayAttributes(flex, center, center);
          @include size(26px, 26px);
          border-radius: 50%;
          background-color: #2ac1bc;
          color: $background;
          font-size: 12px;
          font-weight: 800;
        }
      }
    }

    .signUpInfoInputs {
      width: 100%;

      input {
        width: 100%;
        margin-bottom: 15px;
        padding: 15px 8px;
        border: 1px solid #ddd;
        border-radius: 6px;
        font-family: sans-serif;
        transition: all 1s;

        &:focus {
          outline: none;
        }
      }

      input::placeholder {
        font-family: "BMDOHYEON";
      }

      .relativeText {
        position: relative;

        &::before {
          @include inputInSideText();
        }
        font-family: "BMDOHYEON";
      }

      .inputBirthBox {
        &::before {
          top: 23px;
        }

        p {
          text-align: end;
          font-family: "BMJUA";
          font-weight: 200;
        }
      }

      .showAlertText {
        margin-bottom: 10px;
        font-family: "BMJUA";
        &::before {
          content: "필수 입력 값입니다 !";
          color: #f45452;
          margin-left: 5px;
          font-size: 12px;
        }
      }

      .showValueFail {
        margin-bottom: 10px;
        font-family: "BMJUA";

        &::before {
          content: "형식에 맞게 작성해주세요!";
          color: #f45452;
          margin-left: 5px;
          font-size: 12px;
        }
      }

      .showValuePwFail {
        margin-bottom: 10px;
        font-family: "BMJUA";

        &::before {
          content: "8자 이상 작성해주세요!";
          color: #f45452;
          margin-left: 5px;
          font-size: 12px;
        }
      }

      .showValuePwCheckFail {
        margin-bottom: 10px;
        font-family: "BMJUA";

        &::before {
          content: "비밀번호가 일치하지 않습니다!";
          color: #f45452;
          margin-left: 5px;
          font-size: 12px;
        }
      }

      .showValueBirthFail {
        margin-bottom: 10px;
        font-family: "BMJUA";

        &::before {
          content: "생일형식에 맞게 작성해주세요!";
          color: #f45452;
          margin-left: 5px;
          font-size: 12px;
        }
      }

      .successBox {
        border: 2px solid #2ac1bc;
        transition: all 0.5s;
      }

      .inputEmailBox,
      .inputBirthBox {
        @include singUpDetailText();
      }
    }
  }

  .signUpBtn {
    @include commonDisplayAttributes(flex, center, null);
    margin-top: 40px;
    width: 100%;
    background-color: #eeeeee;
    border-radius: 13px;

    .disabled {
      width: 100%;
      padding: 15px 50px;
      background: transparent;
      border: none;
      border-radius: 13px;
      font-family: "BMDOHYEON";
      color: #acadae;
      transition: all 0.5s;
    }

    .abled {
      width: 100%;
      padding: 15px 8px;
      background-color: #2ac1bc;
      border: none;
      border-radius: 13px;
      font-family: "BMDOHYEON";
      color: white;
      transition: all 0.5s;
    }
  }
}
