@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.gnb {
  position: fixed;
  left: 0px;
  width: 100%;
  padding-top: 0px;
  background: transparent;
  transition: border 0.4s ease 0s, background-color 0.4s ease 0s,
    top 0.2s ease 0s;
  z-index: 1;

  &Action {
    @extend .gnb;
    border-bottom: 1px solid $blackColor;
    background-color: $background;
    opacity: 0.8;
    z-index: 100;
  }

  &Base {
    @extend .gnb;
    border-bottom: 1px solid transparent;
  }

  .gnbContainer {
    @include size(100%, 90px);
    @include commonDisplayAttributes(flex, null, center);
    padding: 0 40px;

    .gnbLogo {
      flex: 1;
    }
  }

  .gnbCategory {
    flex: 2;
    cursor: pointer;

    ul {
      display: flex;
      font-size: 18px;

      li {
        font-family: "BMDOHYEON";
        padding-right: 20px;
        color: $blackColor;
        font-size: inherit;
        font-weight: 500;
        text-decoration-line: none;
        transition: all 0.5s;

        &:hover {
          color: $commonColor;
          transition: all 0.5s;
        }
      }
    }
  }
  .gnbEtc {
    @include commonDisplayAttributes(flex, space-evenly, center);
    flex: 1;

    i {
      cursor: pointer;
      color: $blackColor;
    }

    a {
      text-decoration: none;
    }

    .gnbLogin {
      @include commonDisplayAttributes(inline-flex, null, center);
      @include size(null, 33px);
      background: transparent;
      border: 2px solid rgb(68, 68, 68);
      border-radius: 17px;
      font-size: 14px;
      font-weight: 700;
      padding: 10px 10px;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s;
      transform: translateY(-1px);

      &:hover {
        color: $background;
        background-color: $blackColor;
        transition: all 0.5s;
      }
    }

    .userName {
      font-size: 20px;
      font-weight: 900;
      color: #39c5c0;
      transform: translateY(1px);

      span {
        color: $blackColor;
      }
    }

    .gnbLogOut {
      @extend .gnbLogin;
      transform: translateY(-3px);
    }
  }
}

.fa-hand-pointer {
  @include size(70px, 70px);
  position: fixed;
  bottom: 10%;
  right: 5%;
  line-height: 70px;
  border-radius: 50px;
  background-color: $commonColor;
  color: $background;
  text-align: center;
  vertical-align: middle;
  z-index: 500;
  transition: all 1s;

  &:hover {
    color: $commonColor;
    border: 2px solid $commonColor;
    background-color: $background;
    transition: all 1s;
  }
}
